<div class="carousel">
  <div class="carousel-inner">
    <div class="carousel-item">
      <img src="/public/carruzel/1.jpg" alt="Image 1" />
    </div>
    <div class="carousel-item">
      <img src="/public/carruzel/2.jpg" alt="Image 2" />
    </div>
    <div class="carousel-item">
      <img src="/public/carruzel/3.jpg" alt="Image 3" />
    </div>
  </div>
</div>

<style>
  img {
    aspect-ratio: 80/27;
  }
  .carousel {
    width: 100vw; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
  }

  .carousel-inner {
    display: flex;
    width: 300%; /* 3 slides * 100% */
    animation: carousel 20s infinite; /* Adjust the animation duration as needed */
  }

  .carousel-item {
    flex: 0 0 33.333333%; /* Each slide takes up 1/3 of the carousel width */
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @keyframes carousel {
    0% {
      transform: translateX(0);
    }
    33.33% {
      transform: translateX(-33.333333%);
    }
    66.66% {
      transform: translateX(-66.666666%);
    }
    100% {
      transform: translateX(0);
    }
  }
</style>
