---
import { ladrillosData } from "./ladrillosData";

---
<div class="mt-10 w-full p-5 grid justify-center gap-5 ">
  {
    ladrillosData.map(ladrillo => (
      <div class="transition ease-in-out delay-150 hover:translate-y-[-10px] relative w-[350px] p-4 rounded-md shadow-md">
        <div>
          <img class="mx-auto" src={ladrillo.imageURl} alt="imagen ladrillo" height={250} width={250} />
        </div>
        <div class="mt-2 ">
          <h6 class="font-bold text-lg">
            {ladrillo.name}
          </h6>
          <p class="text-xs font-bold">Peso: {ladrillo.weight}Kg</p>
          <p class="text-xs font-bold">{ladrillo.description}</p>
        </div>
      </div>
    ))
  }
</div>

<style>
  div{
    grid-template-columns: repeat(auto-fill, 350px);
  }
</style>